/* FullCalendarComponent.css */

.booking-calendar-container {
  max-width: 800px;
  margin: 40px auto; /* Add margin to top and bottom */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.date-form {
  margin-top: 20px;
  text-align: left;
}

.date-form h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: red;
}
.rbc-toolbar button {
  width: 100px;
}