/* Layout.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Header styles */
.header {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make the list items display in a row */
}

.navbar ul li {
    margin-right: 10px; /* Space between the nav items */
}

.navbar .nav-link {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block; /* Ensure links are inline */
}

.navbar .nav-link:hover {
    background-color: #ddd;
    color: black;
}

/* Footer styles */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
